doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width", initial-scale="1.0")
        title User Management
        link(href='/css/styles.css' rel='stylesheet')
        script(src="http://code.jquery.com/jquery-3.4.0.js")
        script(src="/scripts/userManagement.js")
    body
        #content(class="container horizontal-centered")
            h1 User Managment Portal
            #newUserBox.box
                span New User form comes here
            #searchUserBox.box
                span Search User bar and content comes here
            #counter.box
                span Total Page Views: #{pageViews}