.container {
    padding: 1%;
}

.box {
    margin-bottom: 3%;
}

.row {
    display: flex;
    flex-direction: row;
}

.horizontal-centered {
    text-align: center;
}

table.horizontal-centered {
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

.small {
    font-size: small;
}

.danger {
    color: red;
}