body {
    background: lightblue;
    padding-bottom: 2%;
}

.spaceBelow {
    margin-bottom: 2%;
}

.horizontal-centered {
    text-align: center;
}

table.horizontal-centered {
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

.equallySpaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}